.open{
  max-height: 100% !important;

}


.containerDiv{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
  interpolate-size: allow-keywords; /* Enable keyword transitions */

}


.icon{
  transition: transform 0.3s ease-in-out;
}

.isRotate{
  transform: rotate(180deg);
}
